@import "tailwindcss";

@theme inline {
  --color-main-color: #1D3557;
  --color-secondary-color: #457B9D;
  --color-tertiary-color: #A8DADC;
  --color-bg-color: #F1FAFF;
  --color-text-color: #1D3557;
  --color-border-color: #CAD6E2;
  --color-accent-color: #2A9D8F;
  --color-error-color: #E63946;
  --color-warning-color: #F4A261;
  --color-success-color: #52B788;
  --color-info-color: #457B9D;
}


@custom-variant hover (&:hover);
@utility container {
  padding-inline: 0.5rem; /* DEFAULT */
  margin-inline: auto;

  @variant sm {
    padding-inline: 0.5rem;
  }

  @variant md {
    padding-inline: 1rem;
  }
  @variant lg {
    padding-inline: 4rem;
  }

  @variant xl {
    padding-inline: 5rem;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
